@import "../../../../../assets/styles/colors.scss";

.breadcrumb-container {
  padding-left: 2rem;
  padding-bottom: 2rem;
}

.book-type-select-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.books-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.card {
  height: auto;
  width: max-content;
}

.card-content {
  position: relative;
  width: 16vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .book-cover-container {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
      rgba(0, 0, 0, 0.22) 0px 10px 10px;

    width: calc(20vw / 2);
    height: calc(20vw * 80 / 100);

    margin-bottom: 1rem;
    transition: transform 250ms;

    background-color: $grey;

    display: flex;
    justify-content: center;
    align-items: center;

    .icon {
      height: 30%;
    }

    .img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .book-cover-container:hover {
    cursor: pointer;
    transform: translateY(-10px);
  }

  .book-title {
    font-size: 1.1rem;
    font-weight: 500;
  }
}
