.header-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  .btn {
    margin-top: 1rem;
  }
}
.ratings-container {
  margin: 2rem;
}

.no-ratings{
  text-align: center;
}
