<div class="login-section">
  <div class="title">Log in</div>

  <form nz-form nzLayout="vertical" [formGroup]="validateInputs" class="inputs">
    <nz-form-item>
      <nz-form-label nzFor="email">Email</nz-form-label>
      <nz-form-control>
        <input
          nz-input
          placeholder="my.email@example.com"
          formControlName="userEmail"
        />
        <div
          class="is-error"
          *ngIf="userEmail?.errors?.['required'] && userEmail?.dirty"
        >
          Please add your email!
        </div>
        <div class="is-error" *ngIf="userEmail?.errors?.['emailValid']">
          Your email is not valid!
        </div>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzFor="email">Password</nz-form-label>
      <nz-form-control>
        <nz-input-group [nzSuffix]="suffixTemplate">
          <input
            [type]="isPasswordVisible ? 'text' : 'password'"
            nz-input
            placeholder="input password"
            formControlName="password"
          />
        </nz-input-group>
        <ng-template #suffixTemplate>
          <span
            nz-icon
            [nzType]="isPasswordVisible ? 'eye-invisible' : 'eye'"
            (click)="isPasswordVisible = !isPasswordVisible"
          ></span>
        </ng-template>
        <div
          class="is-error"
          *ngIf="password?.errors?.['required'] && password?.dirty"
        >
          Please add your password!
        </div>
      </nz-form-control>
    </nz-form-item>
    <div class="register-and-submit-btns">
      <div class="register-btn" routerLink="/auth/register">
        Don't have an account? Register...
      </div>
      <button
        [nzLoading]="isLoggingIn"
        nz-button
        nzType="primary"
        class="btn"
        (click)="verifyData()"
      >
        Submit
      </button>
    </div>
  </form>
</div>
