$primary: #ffe2e2;
$lighter-primary: #fbeded;

$secondary: #d77d7d;
$lighter-secondary: #f4b5b5;

$white: white;
$grey: #f2f2f2;
$warning: red;

$primary1: #b97979;
// $lighter-primary: #d69999;

$secondary1: #ad2121;
// $lighter-secondary: #db3636;

$primary2: #a25a82;
// $lighter-primary: #bc86a4;

$secondary2: #80325d;
// $lighter-secondary: #a04d7b;